.img-form-contact{
	width: 150px;
	height: fit-content;

}
.form-emailjs-container {
    
	background-image: url("./bg-nice1.jpg");
	background-attachment: fixed;
	background-size: cover;	
	max-width: 100%;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	/* padding: 0 20%; */
	align-items: center;
	height: 100vh;
	padding-top: 40px;
	padding-bottom: 40px;
	
}
.form-container {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	background-color: #ffffff;
	width: 400px;
	padding: 60px 60px 140px;
	/* -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1); */
	position: relative;
	border-radius: 40px;
}
.form-line {
	width: 100%;
	display: block;
	position: relative;
	transition: .3s all ease;
	padding-top: 10px;
}
.form-line + .form-line {
	margin-top: 30px;
}
.form-line label {
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 14px;
	color: #ccc;
	transition: .3s all ease;
	z-index: 1;
}
.form-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	padding: 0 0 10px;
	font-size: 16px;
	color: #000;
	outline: none;
	position: relative;
	z-index: 2;
	background-color: transparent;
	transition: .3s all ease;
	width: 100%;
}
textarea.form-input {
	resize: vertical;
}
.form-input:focus + label, 
.form-line label.top {
	font-size: 10px;
	top: -10px;
	color: #2f4231;
}
.form-input:focus {
	border-bottom-color: #2f4231;
}
.error-label,
.check-label {
	font-size: 10px;
	position: absolute;
	bottom: 10px;
	right: 0;
	color: #fff;
	padding: 3px;
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease;
	border-radius: 2px;
}
.error-label {
	background-color: #f75e5e;
}
.check-label {
	background-color: #35ca7c;
	width: 16px;
	height: 16px;
}
.check-label:after,
.check-label:before {
	position: absolute;
	content: '';
	background-color: #fff;
	height: 2px;
}
.check-label:after {
	width: 5px;
	transform: rotate(20deg);
	bottom: 4px;
	left: 4px;
}
.check-label:before {
	width: 10px;
	transform: rotate(110deg);
	right: 1px;
	top: 7px;
}

.form-line.success .form-input {
	border-bottom-color: #35ca7c;
}
.form-line.error label {
	color: #f75e5e;
}
.form-line.error .form-input {
	color: #4e0c0c;
	border-bottom-color: #f75e5e;
}
.form-line.error .error-label,
.form-line.success .check-label {
	opacity: 1;
	visibility: visible;
}

.headline {
	display: block;
	text-align: center;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 5px;
	position: relative;
}
.headline span {
	position: relative;
	z-index: 2;
}
.headline:before {
	content: '';
	position: absolute;
	z-index: 1;
	background-color: rgba(175, 253, 198, 0.5);
	height: 12px;
	width: 155px;
	bottom: -3px;
	left: 5px;
}

.form-button {
	border: none;
	outline: none;
	padding: 20px 60px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	border-radius: 3px;
	cursor: pointer;
	background: #8cf1d0;
	display: block;
	transition: .3s all ease;
	position: absolute;
	bottom: 40px;
	letter-spacing: 2px;
}
.form-button:hover {
	background-color: #78e6c2;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
	-moz-box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
	box-shadow: 0px 10px 25px 0px rgba(72,72,72,0.1);
	bottom: 45px;
}
.img-right_form{
	height: 750px;
	margin-right: -150px;
}

@media (max-width: 500px) {
	.form-container {
		width: 300px;
		padding: 30px 20px 100px;
	}
	.form-button {
		bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
	}
	.form-button:hover {
		bottom: 30px;
	}
}